@page "/counter"
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

@if (!loaded)
{
    <p><em>Loading...</em></p>
}
else
{
    <AppStateProvider @ref=appState >

        <h1>Counter</h1>

        <p role="status">Current count: @appState.Counter</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Increment Counter</button>

        <button class="btn btn-primary" @onclick="UpdateMessage">Update Message</button>

    </AppStateProvider>
}

@code {

    bool loaded = false;

    private AppStateProvider appState { get; set; }

    private void IncrementCount()
    {
        appState.Counter++;
    }

    private void UpdateMessage()
    {
        appState.Message = $"Hello from Counter at {DateTime.Now.ToLongTimeString()}";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            loaded = true;
            StateHasChanged();
        }
    }
}
